.treeItemContainer {
    border: 1px solid #ccc;
    box-shadow: -3px 3px 4px 1px #ddd;
    cursor: pointer;
    display: inline-block;
    margin: 9px 0;
    padding: 15px 0 15px 30px;
}
/* .treeItemContainer  */.Canvas ul ul {
    margin-left: 100px;
}
.treeItemUrl {
    color: #34bebd;
}
.treeItemContainer .ms-OverflowSet {
    display: inline-block;
}
.treeItemContainer .ms-Persona-tertiaryText button.ms-Button {
    float: right;
    height: auto;
}
.treeItemContainer .ms-Persona-tertiaryText i {
    color: darkorange;
}